.page-index{

    header{
        background-image: url(/dist/assets/img/bg-1.png);
        background-size: cover;
        background-repeat: no-repeat;

        h2{
            color: #fff;
            font-size: 24px;
            font-family: 'PT Serif Caption';
            text-align: center;
        }
        h3{
            font-size: 24px;
            color: #fff;
            text-align: center;
        }
        p{
            font-size: 14px;
            color: #fff;
            text-align: center;
        }
    }
    .form-control{
        padding: 18px;
        padding-right: 152px;
        font-size: 14px;
        background-color:#004A4D !important;
        border: solid #32878A !important;
        border-width: 1px;
        width: auto;
    }
    button{
        padding: 18px;
        padding-left: 142px;
        padding-right: 142px;
        background-image: linear-gradient(to top, #CB7825 , #F59B42 );
        border: none;
    }

    .fist-section{
        background-image: url(/dist/assets/img/bg-2.png);
        background-size: cover;
        margin-top: -100px;
        position:relative;
        z-index: -1;
        
        h1{
            font-size: 36px;
            font-family: 'PT Serif Caption';
            color: #244A4D;
            text-align: center;
        }
        p{
            font-size: 18px;
            text-align: center;
            color: #244A4D;
        }
    }
    .second-section{
        background-image: url(/dist/assets/img/bg-3.png);
        background-size: cover;
        margin-top: -100px;

        h1{
            font-size: 36px;
            color: #fff;
            font-family: 'PT Serif Caption';
            text-align: center;
        }
        h6{
            font-size: 18px;
            color: #fff;
            text-align: center;
            font-weight: 400;
        }
        .card{
            background-color: #F8F8F8;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;

            h3{
                font-size: 24px;
                font-weight: 700;
                color:#244A4D;
            }
            p{
                color: #244A4D;
            }
        }
    }
    footer{
        background-color: #121212;

        a{
            font-size: 12px;
            color: #fff;
            font-family: 'PT Serif';
            display: block;
            text-align: end;
        }
    }
    @media screen and (max-width: 820px) {
        header{
            background-image: url(/dist/assets/img/bg-1-responsive.png);
            background-size: cover;
            background-position: -114px;
            h2{
                font-size: 20px;
            }
            h3{
                font-size: 18px;
            }

        }
        .responsive-row{
            justify-content: center;
        }
        .form-control{
            padding-right: 77px;
        }
        button{
            padding-left: 109.5px;
            padding-right: 109.5px;
        }
      
      .fist-section{
          h1{
              font-size: 20px;
          }
          p{
              font-size: 14px;
          }
        }
        .second-section{
            h1{
                font-size: 20px;
            }
            h6{
                font-size: 14px;
            }

        }
        footer{
            a{
                text-align: center;
            }
        }
    }
    @media screen and (min-width: 520px) and (max-width: 820px){
        header{
            background-image: url(/dist/assets/img/bg-1-responsive.png);
            background-size: cover;
            background-position: 0px;
        }
    }
}
